@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@font-face {
  font-family: "Technica_Regular";
  src: local("Technica_Regular"), url(../fonts/Technica_Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Technica_Semi_Bold";
  src: local("Technica_Semi_Bold"), url(../fonts/Technica_Semi_Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Digital";
  src: local("Digital"), url(../fonts/Digital.ttf) format("truetype");
}
html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: Technica_Regular;
}

button, input, select {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: #000;
  height: auto;
}

ul, ol {
  list-style: none;
}

.flex, .theme-default .agent-container__content .body__content--inqueue .inqueue-list li, .theme-default .agent-container__content .body__content--inqueue .inqueue-list, .theme-default .agent-container__content .body__content--inqueue .inqueue-label, .theme-default .agent-container__content .body__content--inqueue, .theme-default .agent-container__content .body__content--actions .actions-btns, .theme-default .agent-container__content .body__content--actions .actions-label, .theme-default .agent-container__content .body__content, .theme-default .agent-container__content .body__head--status, .theme-default .agent-container__content .body__head--info-item, .theme-default .agent-container__content .body__head--info, .theme-default .agent-container__content .body__head, .theme-default .agent-container__content .body, .theme-default .agent-container__content .tickets__done--list, .theme-default .agent-container__content .tickets__done--total, .theme-default .agent-container__content .tickets__done, .theme-default .agent-container__content .tickets, .theme-default .agent-container__content, .theme-default .agent-container__nav--info span, .theme-default .agent-container__nav--info, .theme-default .agent-container__nav, .theme-default .login-container, .theme-default {
  display: flex;
}
.flex-jc-sb, .theme-default .agent-container__content .body__head, .theme-default .agent-container__nav {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c, .theme-default .agent-container__content .body__head--status, .theme-default .agent-container__content .body__head--info-item, .theme-default .agent-container__content .body__head, .theme-default .agent-container__nav--info span, .theme-default .agent-container__nav {
  align-items: center;
}
.flex-ai-sb {
  align-items: space-between;
}
.flex-ai-fs {
  align-items: flex-start;
}
.flex-ai-fe {
  align-items: flex-end;
}
.flex-column, .theme-default .agent-container__content .body__content--inqueue .inqueue-list li, .theme-default .agent-container__content .body__content--inqueue .inqueue-list, .theme-default .agent-container__content .body__content--inqueue, .theme-default .agent-container__content .body, .theme-default .agent-container__content .tickets__done--list, .theme-default .agent-container__content .tickets__done, .theme-default .agent-container__content .tickets, .theme-default .login-container {
  flex-direction: column;
}
.flex-end {
  justify-content: flex-end;
}

.main-container {
  width: 100vw;
  height: 100vh;
  background: #000;
}

.container, .theme-default .modal-container, .theme-default .agent-container, .theme-default {
  width: 100%;
  height: 100%;
}

.full-width, .theme-default .agent-container__content .body__content--inqueue .inqueue-list li, .theme-default .agent-container__content .body__content--inqueue .inqueue-list, .theme-default .agent-container__content .body__content--actions .actions-btns__item .counter-list__info, .theme-default .agent-container__content .body__content--actions .actions-btns__item .counter-list, .theme-default .agent-container__content .body__head, .theme-default .agent-container__content .tickets__done--list li, .theme-default .agent-container__content .tickets__done--list, .theme-default .agent-container__content .tickets__done, .theme-default .agent-container__content .tickets__current, .theme-default .agent-container__content, .theme-default .agent-container__nav, .theme-default .no-data, .theme-default .login-container__btn, .theme-default .login-container__label, .theme-default .login-container__title {
  width: 100%;
}

.full-height {
  height: 100%;
}

.font-family-bold, .theme-default .agent-container__content .body__content--inqueue .inqueue-list li span.ticket, .theme-default .agent-container__content .body__content--inqueue .inqueue-label, .theme-default .agent-container__content .body__content--actions .actions-label, .theme-default .agent-container__content .body__head--status, .theme-default .agent-container__content .body__head--info-item:before, .theme-default .agent-container__content .body__head--info-item, .theme-default .agent-container__content .tickets__done--list li:after, .theme-default .agent-container__content .tickets__done--total, .theme-default .agent-container__content .tickets__current, .theme-default .login-container__btn, .theme-default .login-container__list li:after, .theme-default .login-container__list li:before, .theme-default .login-container__title {
  font-family: Technica_Semi_Bold;
}

.font-family-digital {
  font-family: Digital;
}

.bold, .theme-default .agent-container__content .body__content--actions .actions-btns__item .counter-list__info, .theme-default .no-data:after {
  font-weight: 600;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c0c0c0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #949494;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
@keyframes jackInTheBox {
  0% {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }
  50% {
    transform: rotate(-10deg);
  }
  70% {
    transform: rotate(3deg);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch input:checked + .switch__slider {
  background-color: #00C293;
}
.switch input:checked + .switch__slider:before {
  transform: translateX(24px);
}
.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 45px;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 25px;
}
.switch__slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

:root {
  --bg: #DBDBDB;
  --border-color: rgba(0,0,0,.1);
  --nodata-color: #D8D8D8;
  --nodata-border-color: #fff;
  --login-label-color: rgba(0,0,0,.5);
  --login-panel-bg: rgba(0,0,0,.1);
  --login-body-bg: rgba(255, 255, 255, .6);
  --login-selected: rgba(254, 162, 0, .3);
  --nav-bg: #26272F;
  --nav-text-color: #fff;
  --nav-date-color: #ffbf6a;
  --ticket-bg: #fff;
  --tickets-total-bg: rgba(0,0,0,.1);
  --ticket-color: #11335a;
  --ticket-label-color: rgba(0,0,0,.5);
  --body-bg: #fff;
  --body-name-color: rgba(0,0,0,.5);
  --transfer-list-bg: rgba(0,0,0,.1);
}

.dark {
  --bg: #000;
}

.theme-default .login-container {
  gap: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--login-body-bg);
  width: 400px;
  border-radius: 10px;
  padding: 20px;
}
.theme-default .login-container__title {
  color: var(--login-label-color);
  text-align: center;
  font-size: 22px;
}
.theme-default .login-container__label {
  color: var(--login-label-color);
  font-size: 13px;
  margin-top: 30px;
}
.theme-default .login-container__list {
  overflow: auto;
  max-height: 200px;
  gap: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 5px;
}
.theme-default .login-container__list li {
  height: 60px;
  padding: 10px;
  background: #fff;
  border: 1px solid var(--login-panel-bg);
  border-radius: 5px;
  position: relative;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.theme-default .login-container__list li:last-child:nth-child(odd) {
  grid-column: 1/-1;
}
.theme-default .login-container__list li:before {
  content: attr(counter-name);
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--login-label-color);
}
.theme-default .login-container__list li:after {
  content: attr(counter-value);
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  text-transform: uppercase;
  color: var(--ticket-color);
  opacity: 0.8;
}
.theme-default .login-container__list li.selected {
  border: 2px solid var(--login-selected);
  box-shadow: 1px 1px 3px var(--login-selected);
}
.theme-default .login-container__list li.disabled {
  opacity: 0.5;
  cursor: no-drop;
}
.theme-default .login-container__btn {
  height: 50px;
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  background: #2AB797;
}
.theme-default .login-container__btn:hover {
  background: #20A789;
}
.theme-default .login-container__btn.disabled {
  opacity: 0.5;
  cursor: no-drop;
  background: #20A789;
}
.theme-default .login-container__btn.disabled:hover {
  background: #20A789;
}
.theme-default .no-data {
  display: grid;
  place-items: center;
  padding: 50px 0;
  font-size: 40px;
  color: var(--nodata-color);
  position: relative;
}
.theme-default .no-data:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 65px;
  background: var(--nodata-color);
  border-left: 3px solid var(--nodata-border-color);
  border-right: 3px solid var(--nodata-border-color);
  transform: rotate(-45deg);
}
.theme-default .no-data:after {
  content: attr(nodata-msg);
  position: absolute;
  font-size: 15px;
  bottom: 25px;
}
.theme-default .agent-container {
  background: var(--bg);
}
.theme-default .agent-container__nav {
  padding: 0 20px;
  height: 60px;
  background: var(--nav-bg);
}
.theme-default .agent-container__nav--logo {
  width: 100px;
}
.theme-default .agent-container__nav--date {
  color: var(--nav-date-color);
}
.theme-default .agent-container__nav--info {
  gap: 30px;
}
.theme-default .agent-container__nav--info span {
  gap: 10px;
  color: var(--nav-text-color);
  opacity: 0.4;
  font-size: 14px;
}
.theme-default .agent-container__nav--info span:last-child:hover {
  cursor: pointer;
  opacity: 0.6;
}
.theme-default .agent-container__content {
  height: calc(100vh - 60px);
  padding: 10px;
  gap: 10px;
}
.theme-default .agent-container__content .tickets {
  height: 100%;
  width: 350px;
  gap: 10px;
}
.theme-default .agent-container__content .tickets__current {
  height: 200px;
  display: grid;
  place-items: center;
  position: relative;
  font-size: 60px;
  background: var(--ticket-bg);
  color: var(--ticket-color);
}
.theme-default .agent-container__content .tickets__current span {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 15px;
  text-transform: uppercase;
  color: var(--ticket-label-color);
}
.theme-default .agent-container__content .tickets__done {
  flex: 1;
  gap: 5px;
  background: var(--ticket-bg);
  padding: 5px;
}
.theme-default .agent-container__content .tickets__done--total {
  padding: 10px;
  background: var(--tickets-total-bg);
  text-transform: uppercase;
  font-size: 13px;
  color: var(--ticket-label-color);
  position: relative;
}
.theme-default .agent-container__content .tickets__done--list {
  height: calc(100vh - 300px);
  overflow: auto;
}
.theme-default .agent-container__content .tickets__done--list li {
  min-height: 50px;
  border-bottom: 1px solid var(--border-color);
  position: relative;
}
.theme-default .agent-container__content .tickets__done--list li:before {
  content: attr(ticket-time);
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 14px;
}
.theme-default .agent-container__content .tickets__done--list li:after {
  content: attr(ticket-number);
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--ticket-color);
}
.theme-default .agent-container__content .tickets__done--list li:last-child {
  border: none;
}
.theme-default .agent-container__content .body {
  gap: 10px;
  flex: 1;
}
.theme-default .agent-container__content .body__head {
  height: 50px;
  padding: 0 20px 0 0;
  background: var(--body-bg);
}
.theme-default .agent-container__content .body__head--info {
  gap: 5px;
  height: 100%;
  padding: 7px;
}
.theme-default .agent-container__content .body__head--info-item {
  height: 100%;
  width: 200px;
  padding: 0 5px;
  border: 1px solid var(--border-color);
  font-size: 13px;
  text-transform: uppercase;
  color: var(--body-name-color);
  position: relative;
}
.theme-default .agent-container__content .body__head--info-item:before {
  content: attr(info-item-value);
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--ticket-color);
}
.theme-default .agent-container__content .body__head--status {
  gap: 15px;
  text-transform: capitalize;
  font-size: 14px;
  color: var(--body-name-color);
}
.theme-default .agent-container__content .body__content {
  gap: 10px;
  flex: 1;
}
.theme-default .agent-container__content .body__content--actions {
  flex: 1;
  background: var(--body-bg);
  padding: 5px;
}
.theme-default .agent-container__content .body__content--actions .actions-label {
  padding: 10px;
  background: var(--tickets-total-bg);
  text-transform: uppercase;
  font-size: 13px;
  color: var(--ticket-label-color);
  position: relative;
}
.theme-default .agent-container__content .body__content--actions .actions-btns {
  gap: 5px;
  padding: 5px 0;
  flex-wrap: wrap;
}
.theme-default .agent-container__content .body__content--actions .actions-btns__item {
  width: 180px;
  padding: 15px 0;
  display: grid;
  place-items: center;
  color: #fff;
  gap: 10px;
  font-size: 13px;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
}
.theme-default .agent-container__content .body__content--actions .actions-btns__item span {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.4);
}
.theme-default .agent-container__content .body__content--actions .actions-btns__item span i {
  font-size: 15px;
}
.theme-default .agent-container__content .body__content--actions .actions-btns__item .counter-list {
  position: absolute;
  padding: 10px;
  left: 0;
  top: 98px;
  animation: fadeInDown 500ms ease-in-out;
  background: var(--transfer-list-bg);
}
.theme-default .agent-container__content .body__content--actions .actions-btns__item .counter-list__info {
  position: relative;
  background: var(--body-bg);
  height: 40px;
  cursor: pointer;
  font-size: 15px;
  color: var(--ticket-label-color);
  text-transform: uppercase;
}
.theme-default .agent-container__content .body__content--actions .actions-btns__item .counter-list__info:before {
  content: attr(counter-name);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}
.theme-default .agent-container__content .body__content--actions .actions-btns__item .counter-list__info:after {
  content: attr(counter-id);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}
.theme-default .agent-container__content .body__content--actions .actions-btns__item:first-child {
  background: #22b38e;
}
.theme-default .agent-container__content .body__content--actions .actions-btns__item:first-child:active {
  background: #209c7d;
}
.theme-default .agent-container__content .body__content--actions .actions-btns__item:nth-child(2) {
  background: #1ba7df;
}
.theme-default .agent-container__content .body__content--actions .actions-btns__item:nth-child(2):active {
  background: #1b94c4;
}
.theme-default .agent-container__content .body__content--actions .actions-btns__item:nth-child(3) {
  background: #e93a68;
}
.theme-default .agent-container__content .body__content--actions .actions-btns__item:nth-child(3):active {
  background: rgb(199, 53, 92);
}
.theme-default .agent-container__content .body__content--actions .actions-btns__item:nth-child(4) {
  background: #B03CE6;
}
.theme-default .agent-container__content .body__content--actions .actions-btns__item:nth-child(4):active {
  background: #9632c5;
}
.theme-default .agent-container__content .body__content--actions .actions-btns__item.disabled {
  cursor: no-drop;
  opacity: 0.7;
}
.theme-default .agent-container__content .body__content--inqueue {
  gap: 5px;
  background: var(--body-bg);
  width: 250px;
  height: 100%;
  padding: 5px;
}
.theme-default .agent-container__content .body__content--inqueue .inqueue-label {
  padding: 10px;
  background: var(--tickets-total-bg);
  text-transform: uppercase;
  font-size: 13px;
  color: var(--ticket-label-color);
  position: relative;
}
.theme-default .agent-container__content .body__content--inqueue .inqueue-list {
  height: calc(100vh - 190px);
  overflow: auto;
  gap: 5px;
}
.theme-default .agent-container__content .body__content--inqueue .inqueue-list li {
  padding: 10px 15px;
  border: 1px solid var(--border-color);
  font-size: 13px;
  color: var(--ticket-color);
  position: relative;
}
.theme-default .agent-container__content .body__content--inqueue .inqueue-list li span.ticket {
  font-size: 25px;
}
.theme-default .agent-container__content .body__content--inqueue .inqueue-list li span.icon {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #00C293;
  right: 15px;
  top: 20px;
}
.theme-default .agent-container__content .body__content--inqueue .inqueue-list li span.icon:before {
  content: "";
  position: absolute;
  inset: 0;
  background: #00C293;
  transform: scale(0.7);
  border-radius: 50%;
}
.theme-default .modal-container {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
}/*# sourceMappingURL=style.css.map */